# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# 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
